In [18]:
import pandas as pd
from pprint import pprint

In [19]:
ac_curriculum_2018= pd.ExcelFile("ac_curriculum_2018.xlsx")
ac_curriculum_2018 = ac_curriculum_2018.parse()

In [23]:
#ac_curriculum_2018.head()
del ac_curriculum_2018['Unnamed: 0']
ac_curriculum_2018 = ac_curriculum_2018.rename(columns={'dcterms_subject.prefLabel':'subject'})

In [26]:
ac_curriculum_2018.head()

   subject                                               text
0  English  In the Foundation year, students communicate w...
1  English  In Year 1, students communicate with peers, te...
2  English  In Year 2, students communicate with peers, te...
3  English  In Years 3 and 4, students experience learning...
4  English  In Years 3 and 4, students experience learning...